#!/bin/sh

HOST=localhost

export MICROTICK_PROD=true
export MICROTICK_WEBSOCKET=$HOST:8081
export MICROTICK_FAUCET=$HOST:8888
export MICROTICK_LEADERBOARD=$HOST:8889
export MICROTICK_EXPLORER=off
export MICROTICK_CLIENTID=CLIENTID
export MICROTICK_REDIRECT=https://$HOST/authenticated.html

echo prod=$MICROTICK_PROD
echo websocket=$MICROTICK_WEBSOCKET
echo faucet=$MICROTICK_FAUCET
echo leader=$MICROTICK_LEADERBOARD
echo explorer=$MICROTICK_EXPLORER
echo client ID=$MICROTICK_CLIENTID
echo redirect=$MICROTICK_REDIRECT

npm run build
