svg {
  background: #333;
}

svg line {
  stroke: #ffc;
  pointer-events: none;
}

svg circle {
  stroke: #ffc;
  fill: #ffc;
  pointer-events: none;
}

svg rect {
  pointer-events: none;
}

svg text {
  pointer-events: none;
}

svg .loading {
  stroke: #fff;
  fill: #fff;
  font-size: 25px;
}

.gridrule {
  stroke: #ccf;
  stroke-dasharray: 2,2;
  stroke-opacity: 0.4;
}

.gridrule.heavy {
  stroke: #ccf;
  stroke-width: 2px;
  stroke-dasharray: 2,2;
  stroke-opacity: 0.8;
}

.gridrule.light {
  stroke-opacity: 0.2;
}

.gridrule.now {
  stroke: #dcb;
  stroke-opacity: 1;
  stroke-width: 2px;
  stroke-dasharray: none;
}

.gridtext {
  fill: #ccf;
}

.gridback {
  background: #fff;
}

#ordercall {
  fill: #0f0;
}

#orderput {
  fill: #f00;
}

#callquote {
  fill: #0f0;
}

#putquote {
  fill: #f00;
}

#chartdiv {
  flex: 3;
}

#controldiv {
  flex: 1;
}

#chartwrap {
  width: 100%;
  margin: auto;
}

#chart {
  display: block;
  width: 100%;
  height: 500px;
  margin: auto;
}

#chart line.spot {
  stroke-width: 1.5px;
  stroke: #3bf;
}

#trades line.inactive {
  stroke: #fff;
  stroke-opacity: 0.5;
}

#trades rect.inactive {
  fill: #ddd;
  fill-opacity: 0.1;
  stroke-opacity: 0;
}

#info line.future {
  stroke-width: 2px;
  stroke-opacity: 0.6;
}

#info line.future.short {
  stroke-dasharray: 8,2;
}

#info line.future.call {
  stroke: #0f0;
}

#info line.future.put {
  stroke: #f00;
}

#info rect.future.outthemoney {
  fill: #ddd !important;
  fill-opacity: 0.05;
  stroke-opacity: 0;
}

#info rect.future.inthemoney {
  fill: #ddd !important;
  fill-opacity: 0.05;
  stroke-opacity: 0;
}

#info rect.future.call {
  fill: #080;
  stroke: #080;
}

#info rect.future.put {
  fill: #800;
  stroke: #800;
}

#info circle.future {
  fill-opacity: 0.1;
}

#info circle.future.call {
  stroke: #0f0;
  fill: #0f0;
}

#info circle.future.put {
  stroke: #f00;
  fill: #f00;
}

#trades line.tradebase {
  stroke-width: 1px;
  stroke-opacity: 0.4;
}

#trades line.tradebase.call {
  stroke-width: 2px;
  stroke-opacity: 0.6;
  stroke: #0f0;
}

#trades line.tradebase.put {
  stroke-width: 2px;
  stroke-opacity: 0.6;
  stroke: #f00;
}

#trades line.tradebase.short {
  stroke-dasharray: 8,2;
}

#trades line {
  stroke-opacity: 0.3;
}

#trades rect.call {
  fill: #ddd;
  fill-opacity: 0.1;
  stroke-opacity: 0;
}

#trades circle.call {
  stroke: #0f0;
  fill: #0f0;
  r: 1;
}

#trades rect.put {
  fill: #ddd;
  fill-opacity: 0.1;
  stroke-opacity: 0;
}

#trades circle.put {
  stroke: #f00;
  fill: #f00;
  r: 1;
}

#chartback {
  fill-opacity: 0;
  stroke-opacity: 0;
  pointer-events: auto;
}

#leftamt {
  fill: #e2f;
}

#costamt.call {
  fill: #0f0;
}

#costamt.put {
  fill: #f00;
}

.info {
  fill: #ccc;
}

#infotitle {
  fill: #ccc !important;
}

#infoback {
  fill: #333; 
}

#information {
  font-size: 10px;
}

.infocostcall {
  fill: #0f0 !important;
}

.infocostput {
  fill: #f00 !important;
}

.inforeturn {
  fill: #b2e !important;
}

.infoprofit {
  fill: #fff !important;
}

#infotime {
  fill: #ccc !important;
}

.tradecall {
  fill: #0f0 !important;
}

.tradeput {
  fill: #f00 !important;
}

#info line.spot {
  stroke: #3bf;
  stroke-opacity: 0.4;
  stroke-width: 2px !important;
}

#strikeline {
  stroke-width: 1.5px;
  stroke-dasharray: 1,2;
}

#strikeline.tip {
  stroke-dasharray: none;
}

#strikeline.quote {
  stroke: #3bf;
  stroke-dasharray: none;
}

#strikeline.call {
  stroke: #3bf;
  stroke-dasharray: none;
}

#strikeline.put {
  stroke: #3bf;
  stroke-dasharray: none;
}

#strikeline.info {
  stroke: #3bf;
  stroke-dasharray: none;
}

#quotecursor {
  stroke: #ed4;
  stroke-dasharray: none;
}

#quotebackground {
  fill: #ffc;
  fill-opacity: 0.1;
}

#qcbottom {
  stroke: #ffc;
}

#qctop {
  stroke: #ffc;
}

#qcback {
  fill: #000;
}

#qcbackrect {
  fill: #ed4;
}

circle.ordertip {
  stroke: none;
  fill: #ed4;
}

#consensustext {
  font-size: 14px;
}

#consensusrect {
  fill: #3bf;
}

circle.consensus {
  stroke: none;
  fill: #3bf;
}

#finaltext {
  font-size: 14px;
  fill: #000 !important;
}

#finalrect {
  fill: #b2e;
}

circle.final {
  stroke: none;
  fill: #b2e;
}

#settleline {
  stroke-dasharray: 2,2;
  stroke: #b2e;
}

.futuretime {
  stroke: #ccf !important;
  stroke-dasharray: 1,2;
  stroke-width: 1px;
}

.futuretimetip {
  stroke: #fff !important;
}

#axis_quantity {
  fill: #ccc !important;
}

#total_quantity {
  fill: #ccc !important;
  font-size: 12px;
}

.axis_qty {
  stroke: #ccf;
  stroke-dasharray: 1,2;
  stroke-width: 1px;
}

.axis_qty_tip {
  stroke: #ccf;
}

.payout {
  fill: #b2e;
}

#info text {
  fill: #fff;
}

#orderbook rect.quote15 {
  fill: #2264a3;
}

#orderbook rect.quote14 {
  fill: #2f6495;
}

#orderbook rect.quote13 {
  fill: #3c6386;
}

#orderbook rect.quote12 {
  fill: #496378;
}

#orderbook rect.quote11 {
  fill: #566269;
}

#orderbook rect.quote10 {
  fill: #63625b;
}

#orderbook rect.quote9 {
  fill: #70614c;
}

#orderbook rect.quote8 {
  fill: #7e613e;
}

#orderbook rect.quote7 {
  fill: #697380;
}

#orderbook rect.quote6 {
  fill: #748292;
}

#orderbook rect.quote5 {
  fill: #7f91a4;
}

#orderbook rect.quote4 {
  fill: #8ba0b6;
}

#orderbook rect.quote3 {
  fill: #96afc8;
}

#orderbook rect.quote2 {
  fill: #a1beda;
}

#orderbook rect.quote1 {
  fill: #accdec;
}

#orderbook rect.quote0 {
  fill: #b8dcff;
}

#orderbook line.spot {
  stroke: #333;
  stroke-width: 0.5px !important;
}

text.reward {
  fill: #ffc;
}

line.ordertip {
  fill: #ffc;
}

text.ordertip {
  fill: #333;
  font-size: 14px;
}

circle.charttip {
  stroke: none;
  fill: #ed4;
}

text.charttip {
  fill: #fff;
  font-size: 14px;
}

rect.ob_type_button {
  fill: #888;
}

text.ob_type_button {
  fill: #000;
}

rect.ob_type_button.selected {
  fill: #fff;
}
