#div-status {
  background: #cba;
  padding: 10px 10px 20px 10px;
}

#div-status h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#div-status h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

#div-status h5 {
  font-size: 16px;
  margin: 0px 0px 10px 0px;
}

#div-status table {
  font-size: 16px;
  text-align: center;
  background: #333;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

#div-status thead {
  font-weight: bold;
  font-size: 12px;
}

#div-status td {
  width: 140px;
  height: 20px;
}

#div-status tfoot td {
  font-weight: bold;
  font-size: 12px;
  height: 30px;
}

#div-status .activetable {
  background: #bbb;
  color: #000;
}

#div-status .activetable thead {
  font-size: 14px;
}

#div-status .activetable tfoot td {
  font-size: 16px;
}

#div-status .activetable td {
  width: auto;
}

#balances {
  display: flex;
  padding: 10px;
  background: #666;
  color: #fff;
}

#div-status .rowbox {
  flex: 0 1 auto;
  padding-right: 100px;
}

#div-status .balance {
  box-sizing: border-box;
  text-align: center;
  background: #000;
  color: #ffc;
  border: 3px solid #985;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  font-size: 16px;
}
